---
import '../idProducto.css';
import { listaProductosLaRueda } from '../../../data/productosLaRueda';

export function getStaticPaths() {
  return listaProductosLaRueda.map((producto) => ({
    params: { id: producto.id.toString() },
    props: { producto }
  }));
}
const { producto } = Astro.props;
---


<main class="container producto-detalle">
    <a href="/productos/la-rueda" class="btn-volver">← Volver a productos</a>

    <div class="detalle-wrapper">
      <div class="detalle-imagen">
        <img src={producto.img} alt={producto.name} class="producto-img-grande" />
      </div>

      <div class="detalle-info">
        <h1 class="detalle-titulo">{producto.name}</h1>
        
        <p class="detalle-descripcion">{producto.longDesc}</p>


        <div class="detalle-meta">
          <p><strong>Marca:</strong> La Lola</p>
          <p><strong>Descripción:</strong> {producto.desc}</p>
        </div>
      </div>
    </div>

    <section class="productos-relacionados">
      <h2>Otros productos de La Rueda</h2>
      <div class="grid-relacionados">
        {listaProductosLaRueda.map(prod => (
          <a href={`/productos/la-rueda/${prod.id}`} class={`card-relacionado ${prod.id === producto.id ? 'activo' : ''}`}>
            <img src={prod.img} alt={prod.name} />
            <p>{prod.name}</p>
          </a>
        ))}
      </div>
    </section>
</main>